<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <script src="angular.js"></script>
    <script src="script.js" type="text/javascript"></script>
    <title> Jquery example </title>
</head>
<body class="body">
    <div ng-app="myApp">
        <div class="container">
            <div class="allignment">  <!-- Label -->
                Enter text below
            </div>
            <div ng-controller="TextController">
                <div class="allignment"> <!-- Text box -->
                    <input type="text" id="txtInput" ng-model="myInput">    
                     
                </div>
            </div>
            <div ng-controller="DisplayController">
                <div class="display-box" ng-model="myOutput">
                <!--   <div class="display-box">  <!-- Text output </div> -->
                    {{text}}
                </div>
            </div>
               
            
            <div class="allignment label" id="output"> <!-- Value output -->            
            </div>        
        </div>   
    </div> 
</body>
</html>